@font-face {
  font-family: creamyChocolote;
  src: url("fonts/CreamyChocolate-MVpXJ.ttf");
}

:root {
  --green: #4fb8b9;
  --blue: #1b2c56;
}

body {
  margin: 0;
  background: #faf8f6;
}

main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .link {
  padding: 0.5rem 1.5rem;
  color: var(--green);
  font-family: creamyChocolote;
  font-weight: 700;
  font-size: 1.3rem;
}

nav .link.current {
  color: var(--blue);
}

.names {
  width: 80vw;
}

.pajaritos {
  height: 5rem;
}

.frise {
  width: 100vw;
}

.speech {
  padding: 2rem 1.5rem;
  color: var(--blue);
  font-family: creamyChocolote;
  font-size: 1.3rem;
  text-align: justify;
  opacity: 1;
  transition: opacity 0.5s;
}

.speech.hidden {
  display: none;
}

.speech:not(.current) {
  opacity: 0;
}
